*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    background-image: linear-gradient(to top, rgb(255, 255, 255) 80%, green 20%);
}

.corpoI {
    box-shadow: black 0px 0px 10px 0px;
    width: 70%;
    background-color: white;
    margin: auto;
    border: black solid 1px;
    padding: 10px
}
.info .gerais{
    width: 70%;
    margin: 20px 0px;
}
.imagemRefap {
    display: flex;
    gap: 5px;
}
button {
    padding: 10px;
    color: white;
    background-color: green;
    border: white solid 0px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}
.redi {
    padding: 10px;
    margin:  auto;
    border: white solid 1px;
    width: fit-content;
    border-radius: 12px;
    box-shadow: white 0px 2px 10px 0px;
}
.redi p {
    margin-top: 10px;
}
#segundos {
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    font-weight: 700;
}
button:hover {
    background-color: rgb(81, 168, 81);
}
.imagemRefap img{
   width: 50%;

}
.dFlex {
    display: flex;
}
.footers {
    background-color: black;
    margin: auto;
    text-align: center;
    color: white;
}
.footers #red {
    margin: 10px;
    margin-bottom: -    5px;
}
.footers img {
    width: 200px;
}

@media (max-width:568px) {
        h1 {
            text-align: center;
        }
        .corpoI{
            width: 95%;
            margin-top: 20px;
        }
        .imagemRefap {
            display: block;

        }
        .imagemRefap img {
            width: 100%;
        }
        button {
            padding: 20px;
            font-size: 20px;
        }
        .dFlex {
            display: block;
            text-align: center;
            margin: 20px 0px;
        }
        .info .gerais{
            width: 100%;
            margin: 20px 0px;
        }
}